modules = ["web", "nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 44305677
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node public/server.js"

[[ports]]
localPort = 3000
externalPort = 80
